/* Barra de navegación */
.navbar {
    padding: 0.5rem;
    background-color: rgb(198, 160, 248);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: "Rubik Dirt", cursive;
}

.seccion-oscura {
    color: white;
    background-color: rgb(88, 68, 97) ;
}

.seccion-clara {
    color: black;
    background-color: #f5f6f7;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Rubik Dirt", cursive;
}

.seccion-descripcion {
    font-size: 2rem;
    color: #584e4e;
}

.seccion-texto {
    font-size: 1.2rem;
}

.btn-info {
    font-size: 1.2rem;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* Seccion Hero */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

/* Sobre el Feminismo */
.sobre-el-feminismo {
    height: 300px;
    padding: 15px;
}

.sobre-el-feminismo .contenedor {
    max-width: 800px;
    text-align: center;
}

/* Cómo surgió */
.como-surgio {
    padding: 40px 40px 60px 40px;
}

.como-surgio .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.como-surgio .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.como-surgio i {
    font-size: 2.5rem;
    color: rgb(177, 81, 177);
    background-color:#575774;
    padding: 8px 19px;
    border-radius: 50%;
}

.como-surgio-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Marchas más importantes en el Estado */
.ultimas-marchas {
    padding: 40px;
}

.ultimas-marchas img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.ultimas-marchas-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.marcha {
    position: relative;
}

.marcha:hover img {
    opacity: 0.2;
}

.marcha:hover .overlay {
    opacity: 1;
}

.overlay .icono-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/* Testimonios */
.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 700px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 100%;
    font-size: 20px;
    text-align: center;
    font-family:"Share Tech Mono", monospace;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-footer .participante {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

/* Contacto */
.contacto .container {
    max-width: 1100px;
    min-width: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -3rem;
    background-color: rgb(188, 131, 226);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

/* Pie de pagina (footer) */
footer {
    min-height: 500px;
}

.footer-logo {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Adaptable (Responsivo) */
@media screen and (max-width:400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }    
}

@media screen and (min-widht:700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}
